<footer class="footer">
  <a href="https://x.com/kameno_no3" class="footer__link" target="_blank">k-nono</a>
</footer>

<style lang="scss">
  .footer {
    position: fixed;
    bottom: 1rem;
    right: var(--inline-size);

    &__link {
      font-weight: 800;
    }
  }
</style>