---
import { headerLink } from "@/config";
---

<header class="header">
  <a href="https://github.com/nono-k/book-of-realtime-graphics-math" class="header__link" target="_blank">GitHub</a>
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 1rem;
    right: var(--inline-size);
  }
</style>